h1 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
}

.container {
    width: 50% !important;
    margin-top: 10px;
}

.form-group {
    margin: 10px;
}

.icon {
    cursor: pointer;
}

.icon a {
    color: black;
    text-decoration: none;
}

#editIcon a:hover {
    color: green;
}

#deleteIcon a:hover {
    color: red;
}

input[readonly]::placeholder {
    color: darkgray;
}

td a {
    width: 100%;
    display: block;
}